# Node.js dependencies
node_modules/
**/node_modules/
back/node_modules/
ui/node_modules/
package-lock.json

# Python dependencies
__pycache__/
*.pyc
*.pyo
*.pyd
venv/

test-ledger/

# Wallet and sensitive JSON files
test-wallet.json
receiver-wallet.json
test-config.json


# Temporary and system files
*.log
temp/
.DS_Store
Thumbs.db

# Frontend build artifacts
dist/
.vite/

# IDE and editor specific files
.vscode/
.idea/
*.swp
*.swo
